apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: sample-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: 439352239363.dkr.ecr.us-east-2.amazonaws.com/my-app:latest
        ports:
        - containerPort: 8080