name: Deploy Nginx App to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region ${{ secrets.REGION }} \
        | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}

    - name: Build and Push Docker Image
      run: |
        docker build -t nginx-app .
        docker tag nginx-app:latest ${{ secrets.ECR_REPO }}:latest
        docker push ${{ secrets.ECR_REPO }}:latest

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker stop nginx-app || true
          docker rm nginx-app || true
          docker pull ${{ secrets.ECR_REPO }}:latest
          docker run -d -p 8080:8080 --name nginx-app ${{ secrets.ECR_REPO }}:latest
